<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parser</title>
</head>
<body>
<form action="/parser" method="post">
    <label for="site"><span>Выберите сайт</span>
        <select name="site" id="site">
            {{#each sites}}
                <option value="{{name}}" selected="{{selected}}">{{title}}</option>
            {{/each}}
        </select>
    </label><br>
    <label for="count"><span>Выберите сколько новостей показывать</span>
        <input type="text" id="count" name="count" value="5">
    </label><br>
    <label for="category"><span>Выберите категорию</span>
        <select name="category" id="category">
            {{#each categories}}
                <option value="{{name}}" selected="{{selected}}">{{title}}</option>
            {{/each}}
        </select>
    </label><br>
    <input type="submit" value="Получить">
</form>
{{#each content}}
    <p>{{ this }}</p>
{{/each}}
</body>
</html>